.wrapper {
  font-family: "Montserrat", sans-serif;
  background: #f6f5f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: -20px 0 50px;
  margin-top: 20px;
}
.wrapper h1 {
  font-weight: bold;
  margin: 0;
}
.wrapper p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}
.wrapper span {
  font-size: 12px;
}
.wrapper a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}
.wrapper button {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background: #ff445c;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}
.wrapper button:active {
  transform: scale(0.95);
}
.wrapper button:focus {
  outline: none;
}
.container {
  background: #fff;
  border-radius: 10px;
  box-shadow:
    0 14px 28px rgba(0, 0, 0, 0.2),
    0 10px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  perspective: 1000px;
}
button.ghost {
  background: transparent;
  border-color: #fff;
}
.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  transition: transform 0.6s ease-in-out;
}
.form-container form {
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.form-container input {
  background: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}
.sign-in-container {
  transform: rotateY(0deg);
}
.sign-up-container {
  transform: rotateY(180deg);
}
.container.right-panel-active .sign-in-container {
  transform: rotateY(180deg);
}
.container.right-panel-active .sign-up-container {
  transform: rotateY(360deg);
}
.overlay-container {
  display: none;
}
.loading {
  position: absolute;
  width: 110px;
  height: 110px;
  background: transparent;
  border: px solid #3c3c3c;
  border-radius: 50%;
  text-align: center;
  line-height: 111px;
  font-family: sans-serif;
  font-size: 15px;
  color: #ffffff;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-shadow: 0 0 20px #ff416c;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.loading:before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 5px solid #ff416c;
  border-right: 5px solid #ff416c;
  border-radius: 50%;
  animation: animateC 2s linear infinite;
}
@keyframes animateC {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
